body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.login-form{
    flex-basis: 450px;
}

.login-card .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.login-card .card-footer{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}